<%- include('partials/header'); -%>
<h1>Compose</h1>
<form action="/compose" method="post">
<h3>Title</h3>
<input type="text" name="title">
<h3>Post</h3>
<input type="box" name="article">
<button class="btn btn-primary" type="submit">Submit</button>
</form>


<%- include('partials/footer'); -%>